/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray: #283136;
  --light-gray: #EEEEEE;
  --gray: #E1E1E1;
  --dark-gray: #4D4D4D;
  --special-gray: #666666;
  --slider-current-gray: ##C1C1C1;
  --map-gray: #f5f2f2;
  --footer-gray: #444444;
  --button-gray: #DFDFDF;
  --focus-gray: #D5D5D5;
  --filter-two-current: #231F20;
  --light-red: #FB565A;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --light-green: #00CA74;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC849;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --basic-white: #ffffff;
  --input-gray: #D7DCDE;
  --input-hover-gray: #B4B9BB;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-gray);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Button */

.button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--light-red);
  border: none;
  padding-top: 17px;
  padding-bottom: 15px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--medium-red);
}

.button:active {
  background-color: var(--dark-red);
}

.button:active span {
  opacity: 0.3;
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 70%;
}

.main-header-logo:active {
  opacity: 30%;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  min-height: 114px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 437px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-top: 75px;
  padding-bottom: 9px;
  padding-right: 45px;
}

.site-navigation:last-child {
  padding-right: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--light-gray);
}

.inner-page .main-navigation {
  background-color: var(--light-gray);
}

/* User navigation */

.user-navigation {
  max-width: 115px;
}

/* Cart link */

.cart-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 82px;
  left: 0;
}

.user-navigation .cart-link {
  padding-left: 40px;
  position: relative;
}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart-link:hover,
.site-navigation a:focus,
.cart-link:focus {
  color: var(--light-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Slider*/

.slider {
  background-color: var(--light-gray);
}

.slider-wrapper {
  position: relative;
}

.slider-box {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 431px;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  background-image: url("../img/slider-current-control.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Left box*/

.slider-box-left {
  padding-top: 78px;
  padding-bottom: 80px;
  position: relative;
  width: 50%;
  z-index: 1;
}

.slider-box-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
}

.slider-box-one .slider-box-header {
  margin-bottom: 25px;
}

.slider-box-one .slide-description {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.slider-box-two .slider-box-header,
.slider-box-three .slider-box-header {
  margin-bottom: 37px;
}

.slider-box-two .slide-description {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.slider-box-three .slide-description {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.slider-button {
  padding-left: 54px;
  padding-right: 54px;
  left: 0;
  top: 300px;
  display: inline-block;
}

/*Right box*/

.slider-box-right {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: right;
}

.slider-box-right img {
  height: 100%;
  width: auto;
}

/*Services*/

.services-list {
  margin: 0;
  padding: 0;
  padding: 80px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services-item {
  width: 30%;
}

.services-item img {
  margin-bottom: 25px;
}

.services-item-heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.services-list {
  border-bottom: 2px solid var(--light-gray);
}

.services-button {
  top: 297px;
  left: 0;
  padding: 17px 40px 15px 39px;
  display: inline-block;
}

.services-button-apps {
  background-color: var(--light-green);
}

.services-button-apps:hover,
.services-button-apps:focus {
  background-color: var(--medium-green);
}

.services-button-apps:active {
  background-color: var(--dark-green);
}

.services-button-presentations {
  background-color: var(--light-yellow);
}

.services-button-presentations:hover,
.services-button-presentations:focus {
  background-color: var(--medium-yellow);
}

.services-button-presentations:active{
  background-color: var(--dark-yellow);
}

/*About us*/

.about-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
  border-bottom: 2px solid var(--light-gray);
}

/*Left box*/

.about-box-left {
  padding-top: 73px;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 32px;
}

.about-description {
  margin: 0;
  margin-bottom: 40px;
}

.about-info {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.about-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
}

.about-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 45px;
}

.about-item:last-of-type {
  margin: 0;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -32px;
  background-color: var(--light-red);
}

/*Right box*/

.about-box-right {
  padding-top: 39px;
}

.about-box-right img {
  width: 360px;
  height: 208px;
  margin: 0;
  margin-bottom: 37px;
}

.about-data {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.about-table-row-one {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about-table-row-one td {
  padding-right: 22px;
}

.about-table-row-one sup {
  font-size: 26px;
  line-height: 40px;
}
/*Partners*/

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  padding-top: 45px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--light-gray);
}

.partners-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.partners-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--light-gray);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.partners-item:last-child::after {
  display: none;
}

.partners-link img {
  opacity: 0.2;
}

.partners-link:hover img,
.partners-link:focus img {
  opacity: 1;
}

.partners-link:active img {
  opacity: 0.1;
}

/*Catalog-page*/

.inner-page {
  font-size: 16px;
  color: var(--basic-gray);
}

.page-title-box {
  background-color: var(--light-gray);
  min-height: 241px;
  margin-top: 0;
  padding-top: 87px;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
}

/*Filter*/

.filters {
  padding-top: 55px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 48px;
  margin-top: 43px;
}

.filter-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price .filter-type {
  margin-bottom: 48px;
}

.filter-grids .filter-type {
  margin-bottom: 13px;
}

.filter-options .filter-type {
  margin-bottom: 14px;
}

.filter-price input {
  background-color: var(--light-gray);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}

.filter li {
  margin-bottom: 20px;
}

.filter li:last-child {
  margin-bottom: 0;
}


.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--basic-gray);
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-gray);
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--light-gray);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-gray);
}

.filter-button:active {
  background-color: var(--focus-gray);
}

.filter-button:active span {
  opacity: 0.3;
}

/*Sorting*/

.catalog-filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-filter-one a,
.catalog-filter-two a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-filter-one a:hover,
.catalog-filter-two a:hover {
  opacity: 0.6;
}

.catalog-filter-one a:focus:active,
.catalog-filter-two a:focus:active {
  opacity: 1;
}

.filter-one-current {
  color: var(--basic-black);
}

.filter-two-current {
  color: var(--filter-two-current);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--light-gray);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--button-gray);
}

.pagination-item a:active {
  background-color: var(--focus-gray);
}

.pagination-item a:active span {
  opacity: 0.3;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:focus span,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
}

/* Catalog */

.catalog {
  padding-top: 37px;
  margin-left: 140px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  list-style: none;
}

.catalog-item {
  background-color: var(--basic-white);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 72px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 359px;
  height: 578px;
  margin: 0;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

.catalog-item-title:hover {
  color: var(--light-red);
}

.catalog-item-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-description {
  line-height: 18px;
  color: var(--special-gray);
  text-align: center;
}

/*Button-price*/

.button-price {
  margin-bottom: 44px;

}

/* Main-footer*/

.main-footer {
  color: var(--basic-black);
  margin-top: 80px;
}

/*Footer contacts*/

.footer-contacts {
  min-height: 416px;
  padding: 54px 0;
  position: relative;
}

.footer-map {
  background-color: var(--map-gray);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.footer-contacts-wrapper {
  position: relative;
}

.footer-contacts-box {
  background-color: var(--basic-white);
  padding: 48px 50px;
  max-width: 319px;
  position: absolute;
  left: 0;
}

.footer-contacts-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.footer-contacts-address {
  margin-top: 0;
}

.footer-contacts-phone {
  margin: 0;
  margin-bottom: 37px;
}

.footer-button {
  width: 100%;
}

.footer-address,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-gray);
}

/*Footer Social*/

.footer-social {
  position: relative;
  display: flex;
  min-height: 217px;
  justify-content: space-around;
}

.footer-social-box {
  order: 1;
  padding-top: 75px;
}

.footer-social-icons {
  padding: 0;
  margin: 0;
  padding-top: 68px;
}

.footer-social-box strong {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.footer-social-box p {
  margin: 0;
}

.footer-social-list {
  position: absolute;
  left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 261px;
  margin: 0 auto;
  padding: 0;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-gray);
}

/* Footer Social buttons */

.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  color: var(--basic-white);
  background: linear-gradient(0deg, var(--gray), var(--gray)), var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;

}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, var(--medium-red), var(--medium-red)), var(--basic-white);
}

.social-button:active {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), var(--basic-white);
}

.social-button-name {
  display: none;
}

/* Modal */

.modal-feedback {
  width: 960px;
  height: 590px;
  left: 240px;
  color: var(--footer-gray);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  padding: 63px 100px 84px 100px;
}

.modal-feedback h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-part-one label,
.modal-part-two label {
  font-weight: bold;
  color: var(--basic-black);
}

.modal-part-one input,
.modal-part-two textarea {
  background: var(--basic-white);
  border: 2px solid var(--input-gray);
  border-radius: 3px;
  opacity: 0.5;
  color: var(--footer-gray);
}

.feedback-input {
  width: 360px;
  min-height: 50px;
}

.modal-part-one input:hover,
.modal-part-two textarea:hover {
  border-color: var(--input-hover-gray);
}

.modal-part-one input:focus,
.modal-part-two textarea:focus {
  color: var(--footer-gray);
  border: 2px solid var(--basic-black);

}

.modal-part-one input:invalid,
.modal-part-two textarea:invalid {
  color: var(--medium-red);
  border: 2px solid var(--medium-red);
}

.button-close {
  opacity: 0.3;
}

.button-close:hover,
.button-close:focus {
  background-color: var(--light-red);
}

.button-close:active {
  background-color: var(--light-red);
  opacity: 0.1;
}

