/* Variables */

:root {
  --basic-black: #000000;
  --basic-gray: #283136;
  --light-gray: #EEEEEE;
  --gray: #E1E1E1;
  --dark-gray: #4D4D4D;
  --special-gray: #666666;
  --map-gray: #f5f2f2;
  --footer-gray: #444444;
  --button-gray: #DFDFDF;
  --focus-gray: #D5D5D5;
  --filter-two-current: #231F20;
  --light-red: #FB565A;
  --medium-red: #E74246;
  --dark-red: #D7373B;
  --light-green: #00CA74;
  --medium-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC849;
  --medium-yellow: #EAB534;
  --dark-yellow: #E5A722;
  --basic-white: #ffffff;
  --input-gray: #D7DCDE;
  --input-hover-gray: #B4B9BB;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-gray);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}


/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo */

.main-header-logo {
  margin-top: 49px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 70%;
}

.main-header-logo:active {
  opacity: 30%;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  min-height: 114px;
  background-color: var(--light-gray);
  display: grid;

}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-self: center;

}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 202px;
}
.site-navigation-current a:not([href]) {
  background-color: var(--light-gray);
}

.inner-page .main-navigation {
  background-color: var(--light-gray);
  min-height: 241px;
}

/* User navigation */

.user-navigation {
  margin-top: 75px;
}

.user-navigation span {
  margin-left: 25px;

}

.site-navigation a,
.cart-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.cart-link:hover,
.site-navigation a:focus,
.cart-link:focus {
  color: var(--light-red);
}

.site-navigation a:active,
.cart-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Button */

.button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--light-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--medium-red);
}

.button:active {
  background-color: var(--dark-red);
}

.button:active span {
  opacity: 0.3;
}

.index-header {
  display: none;
}

/*Slider*/

.slider {
  background-color: var(--light-gray);
}

.slider-box {
  display: grid;
  grid-template-columns: 1fr 760px;
  margin: auto;
  padding: 0;
  min-height: 431px;
}

.slider h2 {
  display: none;
}

.slider-box-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/*Services*/

.services h2 {
  display: none;
}

.services-list {
  margin: 0;
  padding: 0;
  padding: 80px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-button-apps {
  background-color: var(--light-green);
}

.services-button-apps:hover,
.services-button-apps:focus {
  background-color: var(--medium-green);
}

.services-button-apps:active {
  background-color: var(--dark-green);
}

.services-button-presentations {
  background-color: var(--light-yellow);
}

.services-button-presentations:hover,
.services-button-presentations:focus {
  background-color: var(--medium-yellow);
}

.services-button-presentations:active{
  background-color: var(--dark-yellow);
}


/*About us*/

.about-grid {
  display: grid;
  grid-template-columns: 1fr 360px;
}

.about h2 {
  display: none;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-info {
  font-weight: bold;
  text-transform: uppercase;
}

.about-list {
  list-style: none;
}

.about-data {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-table-row-one {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.about-table-row-one sup {
  font-size: 26px;
  line-height: 40px;
}

/*Partners*/

.partners h2 {
  display: none;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 44px;
  margin-top: 46px;
  justify-self: center;
  text-align: center;
}

.partners-link img {
  opacity: 0.2;
}

.partners-link:hover img,
.partners-link:focus img {
  opacity: 1;
}

.partners-link:active img {
  opacity: 0.1;
}

/*Catalog-page*/

.inner-page {
  font-size: 16px;
  color: var(--basic-gray);
}

.page-title-box {
  background-color: var(--light-gray);
  min-height: 114px;
  margin-top: 0;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
}

/*Filter*/

.filters {
  padding-top: 55px;
}

.filters h2 {
  display: none;
}

.filter-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-price input {
  background-color: var(--light-gray);
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--basic-gray);
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-gray);
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--light-gray);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-gray);
}

.filter-button:active {
  background-color: var(--focus-gray);
}

.filter-button:active span {
  opacity: 0.3;
}

/*Sorting*/

.catalog-filter-one a,
.catalog-filter-two a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-filter-one a:hover,
.catalog-filter-two a:hover {
  opacity: 0.6;
}

.catalog-filter-one a:focus:active,
.catalog-filter-two a:focus:active {
  opacity: 1;
}

.filter-one-current {
  color: var(--basic-black);
}

.filter-two-current {
  color: var(--filter-two-current);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--light-gray);
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--button-gray);
}

.pagination-item a:active {
  background-color: var(--focus-gray);
}

.pagination-item a:active span {
  opacity: 0.3;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:focus span,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
}

/* Catalog */

.catalog {
  padding-top: 37px;
  margin-left: 140px;
}

.catalog h2 {
  display: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  background-color: var(--basic-white);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

.catalog-item-title:hover {
  color: var(--light-red);
}

.catalog-item-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-description {
  line-height: 18px;
  color: var(--special-gray);
  text-align: center;
}

/* Main-footer*/

.main-footer {
  color: var(--basic-black);
  margin-top: 80px;

}

.footer-contacts {
  min-height: 416px;
  justify-self: center;
}

.footer-contacts h2 {
  display: none;
}

.footer-map {
  background-color: var(--map-gray);
  width: 100%;
}

.footer-contacts-box h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-address,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-gray);
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 217px;
  justify-self: center;
}

.footer-social h2 {
  display: none;
}

.footer-social-box {
  order: 1;
  padding-top: 75px;
}

.footer-social-icons {
  padding: 0;
  margin: 0;
  padding-top: 68px;
}

.footer-social-box strong {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-social ul {
  list-style: none;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-gray);
}

/* Social button */

.social-button {
  color: var(--basic-white);
  background: linear-gradient(0deg, var(--gray), var(--gray)), var(--basic-white);
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, var(--medium-red), var(--medium-red)), var(--basic-white);
}

.social-button:active {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), var(--basic-white);
}

.social-button-name {
  display: none;
}

/* Modal */

.modal-feedback {
  color: var(--footer-gray);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  justify-self: center;
}

.modal-feedback h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-part-one label,
.modal-part-two label {
  font-weight: bold;
  color: var(--basic-black);
}

.modal-part-one input,
.modal-part-two textarea {
  background: var(--basic-white);
  border: 2px solid var(--input-gray);
  border-radius: 3px;
  opacity: 0.5;
  color: var(--footer-gray);
}

.modal-part-one input:hover,
.modal-part-two textarea:hover {
  border-color: var(--input-hover-gray);
}

.modal-part-one input:focus,
.modal-part-two textarea:focus {
  color: var(--footer-gray);
  border: 2px solid var(--basic-black);

}

.modal-part-one input:invalid,
.modal-part-two textarea:invalid {
  color: var(--medium-red);
  border: 2px solid var(--medium-red);
}

.button-close {
  opacity: 0.3;
}

.button-close:hover,
.button-close:focus {
  background-color: var(--light-red);
}

.button-close:active {
  background-color: var(--light-red);
  opacity: 0.1;
}

